@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* unit */
:root{
    font-size: 62.5%;
    font-family: 'DungGeunMo', sans-serif;
}

/* layout */
body{
    background-color: #f4f6f9;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main{
    width: 1200px;
    margin: 0 auto;
}

/* content */
.main-title{
    font-size: 4.5rem;
    margin: 120px 0;
    text-align: center;
}

.moving-icon{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width:45px;
    height: 45px;
    margin: 50px auto;
}
.moving-icon-box{
    width:20px;
    height: 20px;
    background-color: #ddd;
}

.progress-info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 0 200px;
    box-sizing: border-box;
}
.progress-info li{
    font-size: 2rem;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-list li{
    padding: 45px;
    border: 1px dotted black;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    background-color: #fff;
}
.project-list .project-done{
    padding: 0 45px;
    line-height: 90px;
    border: 2px solid rgb(190, 190, 190);
    background-color: rgb(255, 205, 185);
}